.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 150px;
  border-bottom: 1px solid #2a363b;
}

.link {
  font-size: 25px;
}
.home {
  margin-right: 350px;
}
