.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 150px;
  border-bottom: 1px solid #2a363b;
}

.link {
  font-size: 25px;
}
.home {
  margin-right: 350px;
}

.user {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  margin-right: 20px;
  color: rgb(255, 140, 0);
}
.logout {
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
